
body{
  font-family: 'Open-sans',sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
}
.container{
  margin: auto;
}
.primary-text{
  color:#33bbff;
}

.primary-background{
  background: #33bbff;
}

/* Header */

#main-header{
  border-bottom: 1px solid #33bbff;
}

/* Navbar */
#navbar{
  text-transform: uppercase;
}

#navbar li{
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a{
  text-decoration: none;
  color:#888;
}

#navbar li.current a, #navbar a:hover{
  color: #33bbff;
  border-bottom: 3px solid #33bbff;
  padding-bottom: 3px;
}

#banner{
  background: url('https://firebasestorage.googleapis.com/v0/b/angular-firestore-6f422.appspot.com/o/art-broken-explosion-glass.jpg?alt=media&token=66cc4999-8643-4381-9fb3-2a18c54d9eeb') no-repeat center;
  border-bottom: 1px solid #33bbff;
  margin-bottom: 30px;
}

#banner .row{
  height: 600px;
}
#banner h1{
  font-size: 50px;
  margin: 0;
  padding-bottom: 20px;
}

#banner p{
  color:#ccc;
  margin:0;
}
#banner .showcase-content{
  background: #333;
  color:#fff;
  border-radius: 90px;
  padding: 40px;
  opacity:0.9
}
/* Features */
#features h2{
  font-size: 35px;
  margin:0;
  padding-bottom: 10px;
}
#features p{
  color:#888;
  margin:0;
  margin-bottom: 40px;
}
#features .fa{
  font-size: 60px;
  color: #33bbff;
}

/* Info */
#info{
  background:url('../images/info-bg.jpg') no-repeat;
  color: #fff; 
}
#info h2{
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#info ul{
  list-style: none;
  padding: 0;
}

#info li{
  line-height: 2em;
  font-size: 20px;
}

/* Company */
#company{
  background: #333;
  color:#fff;
  padding: 10px 0;
}
#company h4{
  text-transform: uppercase;
  margin-bottom: 0;
}
#company ul{
  padding: 0;
  list-style: none;
  line-height: 2em;
}
#company input[type="text"]{
  padding:7px;
}
#company button{
  background: #222;
  color: #fff;
  padding: 10px;
  border: 0;
}
/* Footer */
#main-footer{
  background: #33bbff;
  color: #fff;
}

/* Page */

#page{
  margin-bottom: 40px;
}
/* Services */
.services ul li{
  list-style: none;
  padding: 10px;
}
.services ul li:nth-child(odd){
  background: #333;
  color: #fff;
}
.services ul li:nth-child(even){
  background: #33bbff;
  color: #fff;
}
/* Contact */
.contact form{
  background: #333;
  color: #fff;
  padding: 20px;
}
.contact form input[type="text"]{
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
}
.contact form textarea{
  width: 50%;
  height:100px;
}
.contact form button{
  width:50%;
  padding: 10px 0;
  border:0;
  background: #33bbff;
  color:#fff;
}


.contact form label{
  text-transform: uppercase;
}
/* Media Queries */
@media(max-width:800px){
  #showcase h1{
    font-size: 30px;
  }
}

@media(max-width:500px){
  #showcase .showcase-content{
    padding: 40px 10px;
  }
}